@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.wrapper {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto; }

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  *zoom: 1; }
  .row:after {
    clear: both; }
  .row:after, .row:before {
    content: '';
    display: table; }

.column {
  float: left;
  margin-right: 2%; }
  .column.half {
    width: 49%; }
  .column.third {
    width: 32%; }
  .column.fourth {
    width: 23.5%; }
  .column.fifth {
    width: 18.4%; }
  .column:last-of-type {
    margin-right: 0; }
  @media (max-width: 400px) {
    .column {
      width: 100% !important;
      margin-right: 0; } }

* {
  box-sizing: border-box; }

.googlemap {
  width: 100%; }

.formSending {
  display: none; }

p {
  font-family: "Inconsolata";
  font-size: 17px; }

a {
  color: #999;
  text-decoration: underline; }
  a:hover {
    color: black; }

header {
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  header .logo {
    text-align: center;
    position: relative; }
    header .logo img:not(.profilepicture) {
      width: 37px;
      vertical-align: bottom; }
      @media (max-width: 400px) {
        header .logo img:not(.profilepicture) {
          position: absolute;
          top: 0;
          left: 23px; } }
    @media (max-width: 400px) {
      header .logo .fa-usd {
        position: absolute;
        top: 0;
        left: 0; } }
    header .logo .profilepicture {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      width: 37px;
      vertical-align: bottom; }
    header .logo h2 {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0; }
      @media (max-width: 400px) {
        header .logo h2 {
          text-align: center;
          position: relative; } }
      header .logo h2 a {
        color: black;
        text-decoration: none; }

.startWrapper {
  width: 85%;
  max-width: 800px;
  margin: 0 auto; }
  .startWrapper .start {
    position: relative;
    top: 162px; }
    .startWrapper .start .social {
      margin-top: 20px;
      text-align: center; }
    .startWrapper .start .credits {
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto; }
      .startWrapper .start .credits .fa-heart-o {
        color: #d12c34; }
    .startWrapper .start h1 {
      text-align: center;
      font-size: 46px; }
    .startWrapper .start p {
      text-align: center;
      margin-bottom: 50px;
      color: #999; }
    .startWrapper .start .startbutton {
      border: 2px solid black;
      padding: 20px;
      background-color: white;
      margin: auto;
      display: block; }
      .startWrapper .start .startbutton:hover {
        background-color: black;
        color: white; }
    @media (max-width: 400px) {
      .startWrapper .start {
        top: 100px; } }
  .startWrapper .loader {
    display: none;
    position: relative;
    top: 162px; }
@-webkit-keyframes typing {
  from {
    width: 0; } }
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent; } }
    .startWrapper .loader .loading {
      font: bold 300% Consolas, Monaco, monospace;
      border-right: .1em solid black;
      width: 16.5em;
      width: 25ch;
      margin: 2em 1em;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 2s steps(25, end), blink-caret 0.5s step-end infinite alternate; }
      .startWrapper .loader .loading .show {
        display: none; }
      @media (max-width: 800px) {
        .startWrapper .loader .loading {
          white-space: nowrap;
          width: 11ch;
          margin-left: 5px;
          -webkit-animation: typing 2s steps(11, end), blink-caret 0.5s step-end infinite alternate; }
          .startWrapper .loader .loading .hide {
            display: none; }
          .startWrapper .loader .loading .show {
            display: inline; } }

main {
  display: none;
  position: relative;
  top: 70px; }
  main .wrapper {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto; }
    main .wrapper .row {
      margin-bottom: 30px; }
    main .wrapper .profilepicture {
      border-radius: 50%;
      margin: auto;
      display: block; }
    main .wrapper .countdown {
      text-align: center; }
    main .wrapper .photos {
      padding-top: 30px; }
      main .wrapper .photos .third img {
        width: 100%;
        margin-bottom: 6%; }
    main .wrapper .name {
      text-align: center;
      margin-top: 40px; }
    main .wrapper .username {
      text-align: center;
      display: block;
      margin-bottom: 10px; }
    main .wrapper .location {
      text-align: center; }
    main .wrapper .bio {
      margin-bottom: 0; }
    main .wrapper .space .progressText {
      margin-top: 30px;
      text-align: center; }
    main .wrapper .space .percentage {
      margin: 0;
      text-align: center; }
      @media (max-width: 800px) {
        main .wrapper .space .percentage {
          margin-top: 50px; } }
      main .wrapper .space .percentage #percentage {
        font-size: 100px;
        display: block; }
    main .wrapper .space .map-toggle {
      margin-top: 171px; }
      @media (max-width: 800px) {
        main .wrapper .space .map-toggle {
          margin-top: 50px; } }
    main .wrapper .downloads {
      text-align: center; }
    main .wrapper .stripe-button-el {
      display: block !important;
      margin: auto;
      margin-top: 25px; }
    main .wrapper progress {
      width: 100%; }
    main .wrapper a.map-toggle {
      display: block;
      position: relative;
      font-size: 1.17em;
      width: 100%;
      letter-spacing: 2px;
      font-weight: bold;
      font-family: sans-serif; }
    main .wrapper .arrow:after {
      display: block;
      position: absolute;
      margin-left: -50px;
      top: 88px;
      left: 50%;
      content: "";
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      z-index: 999; }
  main .nextLink {
    color: black;
    text-decoration: none; }
    main .nextLink .next {
      border: 2px solid black;
      padding: 20px;
      background-color: white;
      margin: auto;
      display: block;
      margin-bottom: 4%; }
      @media (max-width: 800px) {
        main .nextLink .next {
          margin-bottom: 50px; } }
      @media (max-width: 400px) {
        main .nextLink .next {
          margin-bottom: 100px; } }
      main .nextLink .next:hover {
        background-color: black;
        color: white; }
  main #map {
    width: 100%;
    height: 250px; }
  @media (max-width: 800px) {
    main .third {
      width: 100% !important;
      margin-right: 0; } }
