.startWrapper {

  width: 85%;
	max-width: 800px;
	margin: 0 auto;

  .start {

    position: relative;
    top: 162px;

    .social {
      margin-top: 20px;
      text-align: center;
    }

    .credits {
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;

      .fa-heart-o {
        color: #d12c34;
      }
    }

    h1 {
      text-align: center;
      font-size: 46px;
    }

    p {
      text-align: center;
      margin-bottom: 50px;
      color: #999;
    }

    .startbutton {
      border: 2px solid black;
      padding: 20px;
      background-color: white;
      margin: auto;
      display: block;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    @include breakpoint(phone) {
      top: 100px;
    }
  }

  .loader {
    display: none;
    position: relative;
    top: 162px;

    @-webkit-keyframes typing { from { width: 0; } }
    @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

    .loading {

      .show {
        display: none;
      }

    	font: bold 300% Consolas, Monaco, monospace;
    	border-right: .1em solid black;
    	width: 16.5em;
    	width: 25ch;
    	margin: 2em 1em;
    	white-space: nowrap;
    	overflow: hidden;
    	-webkit-animation: typing 2s steps(25, end),
    	           blink-caret .5s step-end infinite alternate;
      @include breakpoint(tablet) {
        white-space: nowrap;
        width: 11ch;
        margin-left: 5px;
        -webkit-animation: typing 2s steps(11, end),
      	           blink-caret .5s step-end infinite alternate;

        .hide {
          display: none;
        }

        .show {
          display: inline;
        }
      }
    }
  }
}


main {

  display: none;
  position: relative;
  top: 70px;

  .wrapper {

    width: 85%;
  	max-width: 1100px;
  	margin: 0 auto;

    .row {
      margin-bottom: 30px;
    }

    .profilepicture {
      border-radius: 50%;
      margin: auto;
      display: block;
    }

    .countdown {
      text-align: center;
    }

    .photos {
      padding-top: 30px;
      .third {
        img {
          width: 100%;
          margin-bottom: ($grid-gutter * 3);
        }
      }
    }

    .name {
      text-align: center;
      margin-top: 40px;
    }

    .username {
      text-align: center;
      display: block;
      margin-bottom: 10px;
    }

    .location {
      text-align: center;
    }

    .bio {
      margin-bottom: 0;
    }

    .space {

      .progressText {
        margin-top: 30px;
        text-align: center;
      }

      .percentage {
        margin: 0;
        text-align: center;

        @include breakpoint(tablet) {
          margin-top: 50px;
        }

        #percentage {
          font-size: 100px;
          display: block;
        }
      }

      .map-toggle {
        margin-top: 171px;

        @include breakpoint(tablet) {
          margin-top: 50px;
        }
      }
    }

    .downloads {
      text-align: center;
    }

    .stripe-button-el {
      display: block !important;
      margin: auto;
      margin-top: 25px;
    }

    progress {
      width: 100%;
    }


    a.map-toggle {
      display: block;
      position: relative;
      font-size: 1.17em;
      width: 100%;
      letter-spacing: 2px;
      font-weight: bold;
      font-family: sans-serif;
    }

    .arrow:after {
      display:block;
      position: absolute;
      margin-left: -50px;
      top: 88px;
      left: 50%;
      content:"";
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      z-index: 999;
    }
  }
  .nextLink {

    color: black;
    text-decoration: none;

    .next {
      border: 2px solid black;
      padding: 20px;
      background-color: white;
      margin: auto;
      display: block;
      margin-bottom: ($grid-gutter * 2);

      @include breakpoint(tablet) {
        margin-bottom: 50px;
      }

      @include breakpoint(phone) {
        margin-bottom: 100px;
      }

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  #map {
    width: 100%;
    height: 250px;
  }

  .third {
    @include breakpoint(tablet) {
      width: 100% !important;
  		margin-right: 0;
    }
  }


}
